*env
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.tmp
*.pid
*.coverage
*.egg-info/
*.dist-info/
*.DS_Store
*.idea/
*.vscode/
*.egg
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.tgz
*.tar
*.log
